version: "3.9"

services:
  db:
    image: postgres:latest
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_PASSWORD: "changemeinprod!"
      TZ: "Asia/Kolkata"   # Correct timezone
